@charset "UTF-8";
/* One should use it like this

.example {
  font-size: calculate-values (12, 20, 768, 1280);
*/
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
/* stylelint-disable */
/* stylelint-enable */
body {
  font-family: "Nunito", system-ui, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button-primary, .footer__request-a-quote .request-quote__submit input, .hero__text--ctas--cta1, .button-video, .hero__text--ctas--cta2, .button-tertiary, .account-menu .user-login-menu li a, .button-secondary, .contact-us__submit input {
  border-radius: 39px;
  background-color: #009FE4;
  color: #FFFFFF;
  padding: 13px 27px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-family: "Nunito", system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
@media (min-width: 768px) {
  .button-primary, .footer__request-a-quote .request-quote__submit input, .hero__text--ctas--cta1, .button-video, .hero__text--ctas--cta2, .button-tertiary, .account-menu .user-login-menu li a, .button-secondary, .contact-us__submit input {
    padding: 17px 34px;
  }
}
@media (min-width: 1280px) {
  .button-primary, .footer__request-a-quote .request-quote__submit input, .hero__text--ctas--cta1, .button-video, .hero__text--ctas--cta2, .button-tertiary, .account-menu .user-login-menu li a, .button-secondary, .contact-us__submit input {
    padding: 22px 48px;
  }
}
@media (min-width: 1680px) {
  .button-primary, .footer__request-a-quote .request-quote__submit input, .hero__text--ctas--cta1, .button-video, .hero__text--ctas--cta2, .button-tertiary, .account-menu .user-login-menu li a, .button-secondary, .contact-us__submit input {
    padding: 25px 58px;
  }
}
@media (min-width: 768px) {
  .button-primary, .footer__request-a-quote .request-quote__submit input, .hero__text--ctas--cta1, .button-video, .hero__text--ctas--cta2, .button-tertiary, .account-menu .user-login-menu li a, .button-secondary, .contact-us__submit input {
    height: 65px;
  }
}

.button-secondary, .contact-us__submit input {
  background-color: #00233D;
}

.button-tertiary, .account-menu .user-login-menu li a {
  background-color: #FFFFFF;
  color: #00233D;
}

.button-video, .hero__text--ctas--cta2 {
  background-color: #f4f4f4;
  color: #00233D;
  position: relative;
  padding-left: 31px;
  padding-right: 81px;
}
@media (min-width: 768px) {
  .button-video, .hero__text--ctas--cta2 {
    padding-left: 31px;
    padding-right: 81px;
  }
}
@media (min-width: 1280px) {
  .button-video, .hero__text--ctas--cta2 {
    padding-left: 31px;
    padding-right: 81px;
  }
}
.button-video::after, .hero__text--ctas--cta2::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 59 59" fill="none"><rect x="-0.000976562" y="0.000488281" width="59" height="59" rx="29.5" fill="%2300233D"/><path d="M25.6162 39.0005C25.3476 38.9999 25.0837 38.9124 24.8505 38.7467C24.3254 38.3771 23.999 37.6597 23.999 36.8809V21.1201C23.999 20.3392 24.3254 19.624 24.8505 19.2544C25.0893 19.084 25.3605 18.9963 25.6358 19.0006C25.9111 19.0049 26.1805 19.101 26.4157 19.2788L37.2606 27.3418C37.4866 27.5179 37.673 27.7623 37.8021 28.0522C37.9313 28.3422 37.999 28.6681 37.999 28.9994C37.999 29.3308 37.9313 29.6567 37.8021 29.9467C37.673 30.2366 37.4866 30.481 37.2606 30.6571L26.4139 38.7222C26.1732 38.903 25.8975 38.9991 25.6162 39.0005Z" fill="white"/></svg>');
  position: absolute;
  height: 40px;
  width: 40px;
  right: 9px;
  top: 50%;
  translate: 0 -50%;
}
@media (min-width: 768px) {
  .button-video::after, .hero__text--ctas--cta2::after {
    height: 50px;
    width: 50px;
  }
}

.main-title, .text-with-ctas__title {
  color: #00233D;
  font-family: "Nunito", system-ui, sans-serif;
  font-size: 30px;
  font-size: clamp(1.875rem, 1.7156862745vw + 1.4889705882rem, 2.3125rem);
  line-height: 110%;
  font-style: normal;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .main-title, .text-with-ctas__title {
    padding-right: 32px;
    font-size: clamp(2.3125rem, 3.2986111111vw + 0.7291666667rem, 4.6875rem);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.slick-initialized {
  overflow: hidden;
}

.container, .hero, .info-message, .error-message, .success-message {
  padding-inline: 24px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container, .hero, .info-message, .error-message, .success-message {
    padding-inline: 1rem;
  }
}
@media (min-width: 1280px) {
  .container, .hero, .info-message, .error-message, .success-message {
    max-width: 1180px;
  }
}
@media (min-width: 1280px) {
  .container, .hero, .info-message, .error-message, .success-message {
    max-width: 1400px;
  }
}

.social-icon {
  display: block;
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../icons/social-icons/rounded/facebook.svg");
}

.youtube {
  background-image: url("../icons/social-icons/rounded/youtube.svg");
}

.twitter {
  background-image: url("../icons/social-icons/rounded/twitter.svg");
}

.pinterest {
  background-image: url("../icons/social-icons/rounded/pinterest.svg");
}

.instagram {
  background-image: url("../icons/social-icons/rounded/instagram.svg");
}

.linkedin {
  background-image: url("../icons/social-icons/rounded/linkedin.svg");
}

.googleplus {
  background-image: url("../icons/social-icons/rounded/googleplus.svg");
}

.whatsapp {
  background-image: url("../icons/social-icons/rounded/whatsapp.svg");
}

.snapchat {
  background-image: url("../icons/social-icons/rounded/snapchat.svg");
}

.feed {
  background-image: url("../icons/social-icons/rounded/feed.svg");
}

.flipboard {
  background-image: url("../icons/social-icons/rounded/flipboard.svg");
}

.messenger {
  background-image: url("../icons/social-icons/rounded/messenger.svg");
}

.reddit {
  background-image: url("../icons/social-icons/rounded/reddit.svg");
}

.skype {
  background-image: url("../icons/social-icons/rounded/skype.svg");
}

.success-message {
  position: fixed;
  z-index: 50;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #cfe8d3;
  border-radius: 8px;
  background-color: #f1f8f4;
}
.success-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "✓";
  transform: translate(30%, -50%);
  color: #51dc6c;
  border: 10px solid #51dc6c;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
}

.error-message {
  position: fixed;
  z-index: 50;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ecc1b6;
  border-radius: 8px;
  background-color: #faeeea;
}
.error-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "❌";
  transform: translate(30%, -50%);
  color: #fb5858;
  border: 10px solid #fb5858;
  border-radius: 50%;
  background-color: white;
  font-size: 11px;
}

.info-message {
  position: fixed;
  z-index: 50;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ffd56c;
  border-radius: 8px;
  background-color: #fff9c4;
}
.info-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "!";
  transform: translate(30%, -50%);
  color: #e9ba43;
  border: 10px solid #e9ba43;
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  font-weight: bold;
}

.message-wrapper {
  position: relative;
}
.message-wrapper .cross {
  position: absolute;
  top: -8px;
  right: 4px;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.pager {
  margin-top: 52px;
}
.pager ul.pager__items {
  display: flex;
  gap: 8px;
  list-style: none;
  justify-content: end;
}
.pager ul.pager__items li.pager__item a {
  text-decoration: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #F1F1F1;
}
.pager ul.pager__items li.pager__item.is-active a {
  background-color: #dc101b;
  color: white;
}

.primary-tabs {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  list-style: none;
  border-bottom: 2px solid black;
  background: white;
  gap: 1rem;
  padding-top: 4px;
}
.primary-tabs li a {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.primary-tabs li a.is-active {
  display: inline-block;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #0f1618;
}
@media (min-width: 768px) {
  .primary-tabs {
    position: unset;
    flex-direction: row;
    width: 100%;
  }
}

body {
  overflow-x: hidden;
}

.menubar {
  height: 110px;
  display: flex;
  align-items: center;
}
@media (min-width: 1280px) {
  .menubar {
    height: 195px;
  }
}
.menubar .menu-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 40px;
}
.menubar .menu-wrapper .logo-link-wrapper img {
  width: 237px;
  height: 75px;
  object-fit: contain;
}
.menubar .menu-wrapper .menu-main-block {
  position: absolute;
  top: 110px;
  right: 0;
  width: 0;
  background-color: white;
  z-index: 10;
  height: calc(100vh - 110px);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  -webkit-box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block {
    top: 195px;
    justify-self: end;
    height: calc(100vh - 195px);
  }
}
.menubar .menu-wrapper .menu-main-block.menu-opened {
  width: 360px;
}
@media (min-width: 768px) {
  .menubar .menu-wrapper .menu-main-block.menu-opened {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block {
    display: block;
    position: unset;
    background: unset;
    top: unset;
    right: unset;
    width: unset;
    height: unset;
    transition: unset;
    transform: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items {
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: start;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 24px 52px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 75px;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item {
  padding: 30px;
  border-bottom: 1px solid rgb(164, 164, 164);
  width: 100%;
  position: relative;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item {
    width: unset;
    padding: 0;
    border-bottom: 0;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item a {
  font-family: "Nunito", system-ui, sans-serif, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item a {
    color: #FFFFFF;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item a.is-active {
  color: #00233D;
  display: inline-block;
  text-decoration: underline;
  font-weight: 900;
  text-underline-offset: 4px;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item a.is-active {
    color: #FFFFFF;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item[child=yes] {
  position: relative;
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item[child=yes]::after {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M1.07324 1L5.00259 4.92935" stroke="%23C23E3E" stroke-width="2" stroke-linecap="round"/><path d="M9.21973 1L5.29038 4.92935" stroke="%23C23E3E" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 7px;
  position: absolute;
  top: 40px;
  translate: -50%;
  left: 50%;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item[child=yes]::after {
    top: 65px;
    translate: -50% 0;
  }
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item[child=yes] {
    display: flex;
    height: 100px;
    align-items: center;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item:hover > .menu-items {
  display: block;
  padding-top: 1rem;
  padding-left: 2rem;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item:hover > .menu-items {
    padding: 8px 1rem;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item .menu-items {
  display: none;
  padding: 0;
  list-style: none;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block .menu-items > .menu-item .menu-items {
    position: absolute;
    box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    padding: 8px 1rem;
    border-radius: 4px;
    width: 200px;
    top: 80px;
  }
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item .menu-items > .menu-item {
  padding-bottom: 8px;
  padding-top: 8px;
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item .menu-items > .menu-item:hover {
  border-bottom: 1px solid black;
}
.menubar .menu-wrapper .menu-main-block .menu-items > .menu-item .menu-items > .menu-item:last-child {
  border-bottom: 0;
}
.menubar .menu-wrapper .hamburger {
  justify-self: flex-end;
  cursor: pointer;
}
.menubar .menu-wrapper .hamburger svg {
  width: 40px;
  height: 40px;
}
.menubar .menu-wrapper .hamburger.closed-menu {
  display: block;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .hamburger.closed-menu {
    display: none;
  }
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}
@media (min-width: 1280px) {
  .overflow-hidden {
    overflow: unset;
  }
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 110px;
  width: 100%;
  height: calc(100vh - 110px);
  background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 1280px) {
  .overlay::after {
    content: unset;
  }
}

.design-images {
  position: absolute;
  top: 0;
  right: 0;
  width: 72%;
  z-index: -1;
}
.design-images img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.account-menu {
  display: none;
}
@media (min-width: 1280px) {
  .account-menu {
    display: block;
  }
}
.account-menu .user-login-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.account-menu .user-login-menu li a {
  width: fit-content;
  margin-left: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero__text {
  flex: 4.5;
  padding-inline: 42px;
}
@media (min-width: 768px) {
  .hero__text {
    padding-inline: 0;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-top: 74px;
  }
}
.hero__text--title {
  color: #00233D;
  font-family: "Nunito", system-ui, sans-serif;
  font-size: 30px;
  font-size: clamp(1.875rem, 1.7156862745vw + 1.4889705882rem, 2.3125rem);
  line-height: 110%;
  font-style: normal;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .hero__text--title {
    padding-right: 32px;
    font-size: clamp(2.3125rem, 3.2986111111vw + 0.7291666667rem, 4.6875rem);
  }
}
.hero__text--body {
  color: #797979;
  font-family: "Nunito", system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 157.4%;
  font-size: 13px;
  font-size: clamp(0.8125rem, 0.7352941176vw + 0.6470588235rem, 1rem);
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .hero__text--body {
    margin-bottom: 16px;
    font-size: clamp(1rem, 1.7578125vw + 0.15625rem, 1.5625rem);
    margin-bottom: clamp(1rem, 2.7777777778vw + -0.3333333333rem, 3rem);
  }
}
.hero__text--ctas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .hero__text--ctas {
    flex-direction: row;
  }
}
@media (min-width: 1680px) {
  .hero__text--ctas--cta1 {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
  }
}
@media (min-width: 1680px) {
  .hero__text--ctas--cta2 {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.34);
  }
}
.hero__image {
  flex: 5.5;
  width: 100%;
}
.hero__image img {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 33px;
  border: 1px solid white;
  border: clamp(0.6875rem, 0.4901960784vw + 0.5772058824rem, 0.8125rem) solid white;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .hero__image img {
    border-radius: 40px;
    border: clamp(0.8125rem, 1.3020833333vw + 0.1875rem, 1.75rem) solid white;
  }
}

.text-with-ctas {
  padding-block: 70px;
}
.text-with-ctas__title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 67px;
}
.text-with-ctas__ctas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .text-with-ctas__ctas {
    flex-direction: row;
  }
}
.text-with-ctas__ctas--mail-us, .text-with-ctas__ctas--call-us {
  width: 100%;
  background-color: white;
  height: 80px;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 0px 24px 33px 0px rgba(181, 181, 181, 0.25);
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .text-with-ctas__ctas--mail-us, .text-with-ctas__ctas--call-us {
    height: 110px;
    border-radius: 30px;
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .text-with-ctas__ctas--mail-us, .text-with-ctas__ctas--call-us {
    height: 150px;
    border-radius: 40px;
    padding: 34px;
  }
}
.text-with-ctas__ctas--mail-us--icon svg, .text-with-ctas__ctas--call-us--icon svg {
  width: 36px;
  height: 36px;
}
@media (min-width: 768px) {
  .text-with-ctas__ctas--mail-us--icon svg, .text-with-ctas__ctas--call-us--icon svg {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1280px) {
  .text-with-ctas__ctas--mail-us--icon svg, .text-with-ctas__ctas--call-us--icon svg {
    height: 80px;
    width: 80px;
  }
}
.text-with-ctas__ctas--mail-us--title, .text-with-ctas__ctas--call-us--title {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #1B2534;
}
@media (min-width: 768px) {
  .text-with-ctas__ctas--mail-us--title, .text-with-ctas__ctas--call-us--title {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .text-with-ctas__ctas--mail-us--title, .text-with-ctas__ctas--call-us--title {
    font-size: 22px;
    line-height: 25px;
  }
}
.text-with-ctas__ctas--mail-us--value, .text-with-ctas__ctas--call-us--value {
  margin-left: auto;
  color: #797979;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: right;
}
@media (min-width: 768px) {
  .text-with-ctas__ctas--mail-us--value, .text-with-ctas__ctas--call-us--value {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .text-with-ctas__ctas--mail-us--value, .text-with-ctas__ctas--call-us--value {
    font-size: 22px;
    line-height: 25px;
  }
}

.contact-us {
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding-block: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-inline: 25px;
  margin-inline: 16px;
}
@media (min-width: 768px) {
  .contact-us {
    margin-inline: auto;
    border-radius: 30px;
    padding-block: 60px;
    padding-inline: 75px;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .contact-us {
    padding-inline: 90px;
    gap: 52px;
    border-radius: 40px;
    padding-block: 90px;
  }
}
.contact-us label {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
  color: #242331;
  display: block;
}
@media (min-width: 1280px) {
  .contact-us label {
    margin-bottom: 16px;
  }
}
.contact-us label.form-required::after {
  content: "*";
  color: red;
  margin-left: 4px;
}
.contact-us input:not(.form-submit),
.contact-us textarea {
  height: 60px;
  padding: 20px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  width: 100%;
}
.contact-us input:not(.form-submit)::placeholder,
.contact-us textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", system-ui, sans-serif;
  text-align: left;
  color: #797979;
}
@media (min-width: 1280px) {
  .contact-us input:not(.form-submit),
  .contact-us textarea {
    border-radius: 20px;
  }
}
.contact-us textarea {
  height: unset;
}
@media (min-width: 768px) {
  .contact-us__message {
    grid-column: span 2;
  }
}
@media (min-width: 768px) {
  .contact-us__submit {
    grid-column: span 2;
    justify-self: center;
  }
}
.contact-us__submit input {
  width: fit-content;
  border: 0;
  display: flex;
  align-items: center;
  padding-block: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-block: 77px;
  border-block: 1px solid #e3e3e3;
  margin-top: 77px;
}
@media (min-width: 1280px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__logo {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (min-width: 1280px) {
  .footer__logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer__logo img {
  width: 170px;
  height: auto;
  object-fit: contain;
}
@media (min-width: 768px) {
  .footer__logo img {
    width: 190px;
  }
}
@media (min-width: 1280px) {
  .footer__logo img {
    width: 260px;
  }
}
.footer__text {
  margin-top: 70px;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (min-width: 1280px) {
  .footer__text {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer__text p {
  color: #797979;
}
.footer__text--email {
  padding-left: 36px;
  position: relative;
}
.footer__text--email::before {
  content: url('data:image/svg+xml,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16668 4.16669H18.8333C19.8417 4.16669 20.6667 4.99169 20.6667 6.00002V17C20.6667 18.0084 19.8417 18.8334 18.8333 18.8334H4.16668C3.15834 18.8334 2.33334 18.0084 2.33334 17V6.00002C2.33334 4.99169 3.15834 4.16669 4.16668 4.16669Z" stroke="%23009FE4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.6667 6L11.5 12.4167L2.33334 6" stroke="%23009FE4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: absolute;
  left: 0;
  top: 2px;
}
.footer__text--email p:first-child {
  margin-bottom: 0;
}
.footer__text--email p:last-child {
  margin-block: 0;
}
.footer__text--email a {
  text-decoration: none;
  color: #797979;
}
.footer__text--phone {
  padding-left: 36px;
  position: relative;
}
.footer__text--phone::before {
  content: url('data:image/svg+xml,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_13_38)"><path d="M14.2958 5.08335C15.1912 5.25804 16.014 5.69592 16.659 6.34096C17.3041 6.986 17.742 7.80885 17.9167 8.70419L14.2958 5.08335ZM14.2958 1.41669C16.156 1.62334 17.8906 2.45635 19.2149 3.77894C20.5391 5.10154 21.3743 6.83511 21.5833 8.69502L14.2958 1.41669ZM20.6667 16.01V18.76C20.6677 19.0153 20.6154 19.268 20.5131 19.5019C20.4108 19.7358 20.2608 19.9458 20.0727 20.1184C19.8846 20.291 19.6625 20.4224 19.4207 20.5042C19.1788 20.586 18.9226 20.6163 18.6683 20.5934C15.8476 20.2869 13.1381 19.323 10.7575 17.7792C8.54267 16.3718 6.66488 14.494 5.25749 12.2792C3.7083 9.88779 2.74421 7.1651 2.44332 4.33169C2.42042 4.0782 2.45054 3.82272 2.53178 3.58151C2.61302 3.3403 2.7436 3.11865 2.91519 2.93067C3.08679 2.74269 3.29564 2.5925 3.52846 2.48967C3.76129 2.38683 4.01297 2.33359 4.26749 2.33335H7.01749C7.46235 2.32898 7.89363 2.48651 8.23094 2.77659C8.56824 3.06667 8.78856 3.46951 8.85082 3.91002C8.96689 4.79008 9.18215 5.65419 9.49249 6.48585C9.61582 6.81395 9.64251 7.17053 9.5694 7.51333C9.49629 7.85613 9.32645 8.17079 9.07999 8.42002L7.91582 9.58419C9.22075 11.8791 11.1209 13.7793 13.4158 15.0842L14.58 13.92C14.8292 13.6736 15.1439 13.5037 15.4867 13.4306C15.8295 13.3575 16.1861 13.3842 16.5142 13.5075C17.3458 13.8179 18.2099 14.0331 19.09 14.1492C19.5353 14.212 19.9419 14.4363 20.2326 14.7794C20.5233 15.1225 20.6778 15.5605 20.6667 16.01Z" stroke="%23009FE4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_13_38"><rect width="22" height="22" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>');
  position: absolute;
  left: 0;
  top: 2px;
}
.footer__text--phone p:first-child {
  margin-bottom: 0;
}
.footer__text--phone p:last-child {
  margin-block: 0;
}
.footer__text--phone a {
  text-decoration: none;
  color: #797979;
}
.footer__menu {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 1280px) {
  .footer__menu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.footer__menu h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.footer__menu ul {
  padding-left: 0;
}
.footer__menu ul li {
  list-style: none;
}
.footer__menu ul li a {
  color: #797979;
  text-decoration: none;
  line-height: 267%;
}
.footer__menu ul li a:hover {
  text-decoration: underline;
}
.footer__request-a-quote {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 36px;
  border-radius: 50px;
  background-color: #F9F9F9;
}
@media (min-width: 1280px) {
  .footer__request-a-quote {
    grid-column: 3/4;
  }
}
.footer__request-a-quote .request-quote__title h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
.footer__request-a-quote .request-quote__title p {
  color: #797979;
}
.footer__request-a-quote .request-quote__email {
  margin-top: 24px;
}
.footer__request-a-quote .request-quote__email label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
}
.footer__request-a-quote .request-quote__email input {
  padding: 24px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  background-color: white;
  width: 100%;
}
.footer__request-a-quote .request-quote__submit {
  margin-top: 20px;
}
.footer__request-a-quote .request-quote__submit input {
  border: 0;
  width: 100%;
  height: 60px;
  padding-block: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-fifth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
}
.footer-fifth .copyright p {
  margin-block: 0;
  font-family: "Nunito", system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #797979;
}
@media (min-width: 768px) {
  .footer-fifth .copyright p {
    font-size: 11.7px;
    line-height: 17.6px;
  }
}
@media (min-width: 1280px) {
  .footer-fifth .copyright p {
    font-size: 22px;
    line-height: 34px;
  }
}
.footer-fifth .social-icons {
  display: flex;
  gap: 16px;
}
.footer-fifth .social-icons .social-icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 1280px) {
  .footer-fifth .social-icons .social-icon {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1680px) {
  .footer-fifth .social-icons .social-icon {
    width: 28px;
    height: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
